:root {
  --background-color: rgb(255, 255, 255);
  --text-color: black;
}

[data-theme="dark"] {
  --background-color: black;
  --text-color: white;
}

[data-theme="light"] {
  --background-color: white;
  --text-color: black;
}

* {
  box-sizing: border-box;
  overflow: -moz-scrollbars-none;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-image: url("https://i.imgur.com/deVIXZU.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media screen and (min-width: 768px) {
  body {
    background-image: url("https://i.imgur.com/HPe0KYD.png");
  }
}

main {
  min-height: 80vh;
  background-image: url("https://i.imgur.com/HPPs36z.png");
  background-size: 75%;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: center;
  background-attachment: fixed;
}

@media screen and (min-width: 768px) {
  main {
    background-size: 30%;
    background-position-y: center;
    background-position-x: center;
  }
}

.app-container {
  display: flex;
  flex-direction: column;
  margin: 0 5px 0 0;
  padding: 0;
  width: 100%;
  overflow-y: scroll;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

footer {
  height: 50px;
}
