* {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 5px 0 0;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: first baseline;
  flex-grow: 1;
  margin-top: 30px;
}
