:root {
  background-image: url("https://i.imgur.com/deVIXZU.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
}

@media screen and (min-width: 768px) {
  :root {
    background-image: url("https://i.imgur.com/HPe0KYD.png");
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
}

main {
  min-height: 80vh;
  background-image: url("https://i.imgur.com/HPPs36z.png");
  background-size: 75%;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: center;
  background-attachment: fixed;
}

@media screen and (min-width: 768px) {
  main {
    background-size: 30%;
    background-position-y: center;
    background-position-x: center;
  }
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 5px 0 0;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

div.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  margin: 0 5.5rem;
}

@media screen and (min-width: 992px) {
  div.about-container {
    flex-direction: row;
    justify-content: center;
    height: 70vh;
  }
}

.about-bis {
  background: var(--gray-color);
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  box-shadow: 0 4px 8px #9d6219;
  color: var(--second-color);
}

.avatar-btn {
  background-color: white;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
}

.avatar-btn-img {
  border-radius: 50%;
  width: 100px;
  background-color: var(--gray-color);
}

@media screen and (min-width: 992px) {
  .avatar-btn-img {
    width: 200px;
  }
}

footer {
  height: 50px;
}
