.carousel-container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: visible;
  position: relative;
}

.carousel .slide {
  background: #f5f5f5;
  border-radius: 20px;
  height: 70vh;
  border: 1.4px solid #9b9b9b;
  position: relative;
}

.carousel .control-arrow {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

.carousel .control-arrow:hover {
  background: rgba(0, 0, 0, 0.8);
}

.custom-arrow {
  position: absolute;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  font-size: 20px;
  padding: 20px 10px;
  cursor: pointer;
  z-index: 2;
  border-radius: 15px;
}

.custom-arrow-prev {
  opacity: 40%;
  transform: rotate(90deg);
}

.custom-arrow-next {
  opacity: 40%;
  transform: rotate(90deg);
}
