.painting-img {
  width: 250px;
  height: 250px;
  border-radius: 15px;
}

@media screen and (min-width: 992px) {
  .painting-img {
    width: 470px;
    height: 350px;
    border-radius: 0px;
  }
}

@media screen and (min-width: 992px) {
  .painting-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
    border: 0.5px;
    background-color: #ffffffef;
    width: 450px;
  }
}

.text-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 1px;
  text-align: center;
  padding: 10px;
  background: rgba(0, 0, 0, 0.249);
  color: white;
  opacity: 1;
  transition: opacity 0.3s ease;
  width: 250px;
  max-height: 12.5vh;
  overflow: hidden;
  border-radius: 0px;
}
@media screen and (min-width: 992px) {
  .text-container {
    opacity: 0;
    width: 100%;
  }
}

.painting-container:hover .text-container {
  opacity: 1;
}
.text-container h3,
.text-container p {
  margin: 0;
}

.painting-title {
  text-align: center;
}
